<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.markantoni.linies.app">

    <application
        android:allowBackup="false"
        android:icon="@android:drawable/ic_dialog_alert"
        android:label="@string/app_name"
        android:theme="@style/LiniesTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ConfigurationActivity">
            <!-- fixme this filter is only for development -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.markantoni.linies.CONFIG" />

                <category android:name="com.google.android.wearable.watchface.category.COMPANION_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>